
.card{
    width:20rem;
}
.card_img{
    opacity: 0.8;
}
.cards-title{
    position:absolute;
    width:100%;
    bottom:0;
    left:10;
    color:black;
    font-weight: 700;
    font-size: 20px;
    z-index:1;
    text-align: center;
    margin-top: 50px;
}
.our_services_heading{
    color:black;
    font-size: 35px;
    font-weight: bold;
}

.service_card{

   display:flex;
   justify-content: center;
   align-items: center;
    background-color: white;
    width:300px;
    height:330px;
    
}
.cards-title{
    color:'black';
}
.service_card:hover{
    color:"black"
}