.submit_btn{
    width:200px;
}

.contact_img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:100%; */
    height:70%;
    width:50%;
}

.contact_heading{
    font-size: 35px;
    color:black;
    font-weight: bold;
}
.img_icon{
    width:60px;
    height:50px;
    border-radius: 3px;
}

.contact_img{
    width:500px;
    height:400px;
}

@media screen and (max-width:600px){
        .contact_heading{
            font-size: 24px;
            margin-top: 20px;
        }   
        .contact_form{
            width:100%;
            height:100%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
        }
        .input{
            margin-top: -20px !important;
        }
        .contact_img{
           height:200px;
           width:350px;
        }
        .form_btn{
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contact_logo_container{
            width:100%;
            height:100%;
            display: flex;
            justify-content: space-between;
            /* align-items: center; */
        }
        .contact_image_icon{
            width: 50px;
            height:50px;
        }

        .contact_content{
            margin-left:20px;
            text-align: left;
        }
}