.main_image_container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enrichment_image{
    height: 80% !important;
    width:80% !important;
    margin-left: 10% !important;

}
.enrichment_page_heading{
    font-size: 40px;
}
@media screen and (max-width:600px) {
    .enrichment_div .enrichment_page_heading{
        font-size: 28px !important;
        
    }
    .enrichment_image{
        height:75%;
    }
}