@media screen and (min-width: 480px) {
    .slide_image{
        width:150px !important;
        height:150px !important;
        display: flex;
        position: absolute;
        top:30;
        left:0;
    }
  }