.who_we_are_image{
    width : 200px !important;
    height : 200px !important;

}

.who_we_are_image_container{
    width:250px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tech_img_who_we_are{
    margin-top:30px;
    height:400px;
    width:100%;
}